aws {
  access_key_id = _
  secret_access_key = _
  dynamodb_table_name = _
}
optimizely.token = _
sauna.root = /opt/sauna
queue.name = snowplow-sauna-sandbox
logging {
  hipchat {
    room_id = _
    token = _
  }
}